@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Lora&family=Open+Sans:ital,wght@1,800&family=Raleway:wght@400;700&display=swap');


/* formatear documento shift alt f */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100vw;
    font-family: 'Raleway', sans-serif;
    background-color: #F5F5F5;

}

.container {
    width: 100%;
}

.header_container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 30px 0;
    margin-bottom: 35px;
}

.header_logo {
    display: flex;
}



.header_titulo {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    

}

.header_menu {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0px, 32px, 0px;
    text-decoration: none;

}

.contenedor__menu{
    display: none;
}

.contenedor__menu ion-icon{
    font-size: 30px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
}

.presentacion_container {
    display: flex;
    max-width: 1, 136px;
    width: 80%;
    min-height: 60vh;
    align-items: center;
    margin: 0 auto;
    gap: 17px;

}

.presentacion_container ion-icon {
    font-size: 22px;
    margin-left: 3px;
    margin-bottom: -4px;

  }

.presentacion_articulo {
    width: 70%;
    margin: 50px;

}

.presentacion_titulo {
    font-weight: bolder;
    color: #464646;
    font-size: 43px;
    margin-bottom: 30px;

}

.presentacion_menu {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.sobremi_parrafo {
    width: 70%;
}

.presentacion_foto {
    width: 30%;

}

.presentacion_foto img {
    width: 100%;
    border-radius: 50%;

}


.presentacion_menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.sobremi_container {
    background-color: #EAF2FD;
    padding-top: 50px;
    padding-bottom: 50px;


}

.sobremi_titulo {
    text-align: start;
    padding: 15px 0;

}

.sobremi_articulo {
    width: 80%;
    margin: 0 auto;
}

.sobremi_articulo p {
    width: 60%;
    padding: 15px 0;

}

.skills_section {
    margin-bottom: 70px;
}

.skills_container {
    display: flex;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    gap: 30px;


}

.skills_titulo {
    text-align: center;
    margin: 50px;
}

.skills_box {
    width: 100%;
    background-color: white;
    height: 150px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.escuchar_musica{
    background-image: url(images/hobbies/escuchar\ musica.jfif);
    background-color: rgba(50, 50, 50, 0.9);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.ver_peliculas{
    background-image: url(images/hobbies/ver\ peliculas.jpg);
    background-color: rgba(50, 50, 50, 0.9);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.ver_series{
    background-image: url(images/hobbies/ver\ series.png);
    background-color: rgba(50, 50, 50, 0.9);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.jugar_videojuegos{
    background-image: url(images/hobbies/jugar\ videojuegos.jpg);
    background-color: rgba(50, 50, 50, 0.9);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.escuchar_podcast{
    background-image: url(images/hobbies/escucharpodcast.jfif);
    background-color: rgba(50, 50, 50, 0.9);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.manejar_moto{
    background-image: url(images/hobbies/manejar\ moto.jfif);
    background-color: rgba(50, 50, 50, 0.9);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.box_html{
    background-color: #F16528;
}

.box_css{
    background-color: #238EC6;
}

.box_javascript{
    background-color: #F5DD1B;
}

.box_react{
    background-color: #4AD5FE;
}

.box_bootstrap{
    background-color:#62408D ;
}

.box_figma{
    background-color: #A057FF;
}

.skills_box h3 {
    margin-top: 10px;
}

.skills_box img {
    width: 25px;
}

.formacionacademica_container {
    background-color: #EAF2FD;
    margin: 50px 0;

}

.formacionacademica_titulo {
    margin-bottom: 30px;
}


.formacionacademica_box {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.formacionacademica_titulo {
    text-align: center;
    margin: 50px;
}

.fa_box img {
    width: 100%;
    height: 220px;
    background-position: cover;
}

.proyectos_section {
    width: 80%;
    margin: 0 auto;
    
}

.titulo_proyectos {
    text-align: center;
    margin: 50px;
    margin-bottom: 100px;
}

.box-project {
    display: flex;
    margin-top: 100px;
    gap: 20px;
}

.box_1 {
    width: 30%;
}
.box_1:nth-child(2) {
    text-align: end;
}

.box_1 h4{
    font-size: 30px;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
}

.box_1 a:nth-child(3) {
    margin-left: 10px;/* Your styles here */
  }
  

.box_2 {
    width: 70%;
}

.box_2 img {
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contacto_section {
    width: 80%;
    margin: 0 auto;
}

.contacto_titulo{
    text-align: center;
    padding: 50px;
}

.contacto_formulario{
    display: flex;
    gap: 35px;

    
}

.contacto_section img{
    width: 100%;
    height: 100%;
    min-height: 300px;
    object-fit: cover;
 }

 

 .form {
    background-color: white;
    border-radius: 15px;
    color: #999;
    padding: 20px;
    margin: 0 auto ;
    width: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

.img_form{
    width: 50%;
}

.field{
    width: 100%;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 3px;
}

.field:hover{
    background-color: #F5F5F5;
    transition: all ease 0.4s;
}
textarea{
    min-height: 100px;
}

.btn_contacto{
    padding: 10px 20px;
    background-color: #0A3871;
    border-radius: 20px;
    font-size: 18px;
    color: #ffffff;
}

@media (max-width: 1000px) {
    .presentacion_container{
       flex-direction: column-reverse;
        
    }
    .presentacion_foto  { 
        width: 100%;
    }

    .presentacion_foto img {
        width: 100%;
    }

    .presentacion_titulo{
        text-align: center;
        width: 100%;
       
    }

    .presentacion_menu{
        width: 100%;
       
    }

    .presentacion_articulo{
        width: 100%;
    }

    .sobremi_articulo{
        width: 80%;
    }
    .sobremi_articulo p{
        width: 100%;
    }

    .skills_container {
        flex-direction: column;
    }
    .formacionacademica_box{
        grid-template-columns: 1fr ;
    }

    .proyectos_container .box-project{
        flex-direction: column;
    }
    .proyectos_container .box-project:nth-child(2){
        flex-direction: column-reverse;
    }
    
    .proyectos_container .box-project .box_1{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }.box_2 {
        width: 100%;
    }

    .img_form{
        display: none;
    }

    .form{
        width: 100%;
    }

    .contenedor__menu{
        display: block;
        position: relative;
    }

    .header_navbar{
        position: absolute;
        top: 80px;
        left: -100%;
        width: 100%;
        transition: all ease 0.4s;
    }

    .header_menu{
        flex-direction: column;
        background: black;
        padding: 20px;
        text-align: center;
    }

    .header_menu a {
        color: white;
        margin-bottom: 10px;
    }
    #menu__navbar.menu_activo {
        left: 0;
        transition: all ease 0.4s;
        background-color: red;
    }


  }
  

  


